{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="question-list">
    {% for question in data %}
    <div class="question">
        <label class="title">{{ data[question].title }}</label>
        <div class="message">{{ data[question].message|safe }}</div>
        <div class="answers {{ data[question].answers_class }}">
            {% for answer in data[question].answers %}
            <div class="answer">{{ answer.message|safe }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}