{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="question-list">
    {% for question in data %}
    <div class="question">
        <label class="vote-count noselect">
            <label>{{ data[question].vote_number }}</label>
        </label>
        <a class="title" href="/question/{{ data[question].id }}">{{ data[question].title }}<small>{{ data[question].submission_datetime }}</small></a>
        <div class="image-container {{ data[question].image_class }}" style="background-image:url('/{{ data[question].image }}')">
            <div>
                <img src="/{{ data[question].image }}"/>
            </div>
        </div>
        <div class="message">{{ data[question].message|safe }}</div>
        <div class="answers {{ data[question].answers_class }}">
            {% for answer in data[question].answers %}
            <div class="answer"><small>{{ answer.submission_datetime }}</small>{{ answer.message|safe }}</div><br>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}