<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | NoHitSherlock</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <label class="site-name">NoHitSherlock</label>
                <div id="new-question">
                    <form action="/add-question" method="post">
                        <input name="question-title" type="text" placeholder="Question title" autocomplete="off" required/>

                        <div class="slider">
                            <textarea name="question-message" placeholder="Question text" required></textarea>
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                {% block menuitems %}{% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>