<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | NoHitSherlock</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <svg id="logo" class="noselect" viewBox="0 0 260 50">
                    <symbol id="logo-text">
                        <text text-anchor="left" x="0%" y="75%">NoHitSherlock</text>
                    </symbol>

                    <g>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                    </g>
                </svg>
                <div id="new-question">
                    <form action="/add-question" method="post">
                        <input name="question-title" type="text" placeholder="Type your question here.." autocomplete="off" required/>
                        <div class="slider">
                            <textarea name="question-message" placeholder="Please provide additional info.." required></textarea>
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                {% block menuitems %}{% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>