<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | NoHitSherlock</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <svg id="logo" viewBox="0 0 260 50">
                    <symbol id="logo-text">
                        <text text-anchor="middle" x="50%" y="80%">NoHitSherlock</text>
                    </symbol>

                    <g>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                        <use xlink:href="#logo-text" class="text-copy"></use>
                    </g>
                </svg>
                <div id="new-question">
                    <form action="/add-question" method="post">
                        <input name="question-title" type="text" placeholder="Type your question here.." autocomplete="off" required/>
                        <div class="slider">
                            <textarea name="question-message" placeholder="Please provide additional info.." required></textarea>
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                {% block menuitems %}{% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>